.text-center{
    text-align: center;
}

.bg-red{
    background-color: red;
}

.mx-auto{
   margin: auto;
}

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
    
}
.align-items{
    align-items: center;
}
.font-size{
    font-size: px;
}